{% extends "partials/base.html" %}
{% load static %}

{% block content %}

    <div class="main">
        <div class="main-navbar">
            <!-- menu for a mobile version of the website -->
            <ion-icon class="menu-toggle" name="menu-outline"></ion-icon>

            <h1>Корзина</h1>

            <div class="profile">
                <a class="cart" href="#"><ion-icon name="cart-outline"></ion-icon></a>
                <a class="user" href="#"><ion-icon name="person-outline"></ion-icon></a>
            </div>
        </div>

        <div class="users-cart">

            <div class="cart-wrapper">

                {% for d_id, item in cart_data.items %}
                <div class="cart-card">
                    <img src="{{ item.photo }}" alt="Картинка не найдена" class="mini-img">
                    <h4>{{ item.title }}</h4>
                    <p class="detail-sub">Lorem ipsum dolor sit amet consectetur provident</p>
                    <p class="price">${{ item.price }}</p>
                    <div class="count-items">
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                        <span>{{ item.qty }}</span>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    </div>
                    <ion-icon name="trash-outline" class="delete-icon"></ion-icon>
                </div>
                {% endfor %}


                <div class="total-section">
                    <div class="total">
                        <p>Итого: $304.4</p>
                    </div>
                    <div class="checkout-button">
                        <a href="#">Далее <ion-icon class="next" name="chevron-forward-circle-outline"></ion-icon></a>
                    </div>
                </div>
            </div>



        </div>
    </div>
{% endblock content%}