{% extends "partials/base.html" %}

{% block content %}
    <div class="main">
        <div class="main-filter">
            <div>
                <h2 class="main-title">Меню <br>Категории</h2>
                <div class="main-arrow">
                    <ion-icon class="back-menus" name="chevron-back-circle-outline"></ion-icon>
                    <ion-icon class="next-menus" name="chevron-forward-circle-outline"></ion-icon>
                </div>
            </div>
            <div class="filter-wrapper">

                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="restaurant-outline"></ion-icon>
                    </div>
                    <p>All Menus</p>
                </div>

                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="fast-food-outline"></ion-icon>
                    </div>
                    <p>Burger</p>
                </div>

                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="pizza-outline"></ion-icon>
                    </div>
                    <p>Pizza</p>
                </div>

                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="wine-outline"></ion-icon>
                    </div>
                    <p>Wine</p>
                </div>

                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="ice-cream-outline"></ion-icon>
                    </div>
                    <p>Ice-cream</p>
                </div>

                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="cafe-outline"></ion-icon>
                    </div>
                    <p>Coffee</p>
                </div>

                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="fish-outline"></ion-icon>
                    </div>
                    <p>Seafood</p>
                </div>

                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="nutrition-outline"></ion-icon>
                    </div>
                    <p>Healthy Food</p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}