{% extends "partials/base.html" %}


{% block content %}
<div class="main">
    {% include "inc/top.html" %}

    <div class="main-highlight">
        <div class="main-header">
            <h2 class="main-title">Рекомендации</h2>
            <div class="main-arrow">
                <ion-icon class="back" name="chevron-back-circle-outline"></ion-icon>
                <ion-icon class="next" name="chevron-forward-circle-outline"></ion-icon>
            </div>
        </div>

        <div class="highlight-wrapper">
            <div class="highlight-card">
                <img class="highlight-image" src="#">
                <div class="highlight-desc">
                    <h4>Fresh Salad</h4>
                    <p>$42.5</p>
                </div>
            </div>

            <div class="highlight-card">
                <img class="highlight-image" src="#">
                <div class="highlight-desc">
                    <h4>Fresh Salad</h4>
                    <p>$42.5</p>
                </div>
            </div>

            <div class="highlight-card">
                <img class="highlight-image" src="#">
                <div class="highlight-desc">
                    <h4>Fresh Salad</h4>
                    <p>$42.5</p>
                </div>
            </div>

            <div class="highlight-card">
                <img class="highlight-image" src="#">
                <div class="highlight-desc">
                    <h4>Fresh Salad</h4>
                    <p>$42.5</p>
                </div>
            </div>

        </div>
    </div>

    <div class="main-menus">
        <div class="main-filter">
            <div>
                <h2 class="main-title">Меню <br>Категории</h2>
                <div class="main-arrow">
                    <ion-icon class="back-menus" name="chevron-back-circle-outline"></ion-icon>
                    <ion-icon class="next-menus" name="chevron-forward-circle-outline"></ion-icon>
                </div>
            </div>
            <div class="filter-wrapper">
                <div class="filter-card">
                    <div class="filter-icon">
                        <ion-icon name="restaurant-outline"></ion-icon>
                    </div>
                    <p>All Menus</p>
                </div>

                {% for c in categories %}
                    <a href="{% url 'core:category-dishes-list' c.pk %}">
                        <div class="filter-card">

                            <div class="filter-icon">
                                <img src="{{ c.image.url }}" alt="Картинка не найдена">
                                {#                        <ion-icon name="restaurant-outline"></ion-icon>#}
                            </div>
                            <p>{{ c.title }}</p>

                        </div>
                    </a>

                {% endfor %}

            </div>
        </div>

        <hr class="devider">

        <div class="main-detail">
            <h2 class="main-title">Choose Order</h2>
            <div class="detail-wrapper">
                {% for d in dishes %}
                <div class="detail-card">
                    <img src="{{d.photo.url}}" class="detail-img">
                    <div class="detail-desc">
                        <div class="detail-name">
                            <h4>{{ d.title }}</h4>
                            <p class="detail-sub">{{ d.description }}</p>
                            <p class="price current-dish-price-{{ d.id }}">{{ d.price }}</p>
                        </div>

                        <div class="add-cart">
                            <input type="hidden" value="1" name="" id="dish-quantity" class="dish-quantity-{{ d.id }}">
                            <input type="hidden" class="dish-did-{{ d.id }}" value="{{ d.dish_id }}">
                            <input type="hidden" class="dish-id-{{ d.id }}" value="{{ d.id }}">
                            <input type="hidden" class="dish-photo-{{ d.id }}" value="{{ d.photo.url }}">
                            <input type="hidden" class="dish-title-{{ d.id }}" value="{{ d.title }}">
                            <button href="cart.html" data-index="{{ d.id }}" class="btn btn-primary add add-to-cart-btn" id="add-to-cart-btn">Добавить</button>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}