<div class="sidebar">
    <h1 class="logo">Felicità</h1>

    <div class="sidebar-menus">
        <a href="{% url "core:home" %}"><ion-icon name="storefront-outline"></ion-icon>Главная</a>
        <a href="#"><ion-icon name="receipt-outline"></ion-icon>Заказы</a>
        <a href="#"><ion-icon name="notifications-outline"></ion-icon>Уведомления</a>
        <a href="#"><ion-icon name="chatbubbles-outline"></ion-icon>Обратная связь</a>
        <a href="#"><ion-icon name="settings-outline"></ion-icon>Настройки</a>
    </div>

    <div class="sidebar-logout">
        <a href="#"><ion-icon name="log-out-outline"></ion-icon>Выйти</a>
    </div>
</div>